div#nav_menu-13,
div#nav_menu-12 {
  width: 50%;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}
div#nav_menu-13,
div#nav_menu-15 {
  width: 50%;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}
div#nav_menu-13,
div#nav_menu-17 {
  width: 50%;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}
div#nav_menu-13,
div#nav_menu-18 {
  width: 50%;
  display: inline-block;
  border-bottom: 1px solid #ccc;
}
section#section_874291479 {
  padding: 12px;
}
